<a href="https://colab.research.google.com/github/AyuK03/Python_WE_sessions/blob/main/Py_3_and_4___Conditional_statements___strings___Functions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CONDITIONS**

mark(percentage), mark < 40 => Fail,
mark >= 40, pass, diplay the Grades.

40 - 55  => D

56 - 65  => C

66 - 75  => B

76 - 85  => A

86 and above => A*

Ak's code

In [ ]:
marks = float(input("Enter marks in % : "))

if marks<40:
  print("Fail")
elif marks>=40 and marks<=55:
  print("D")

elif marks>=56 and marks<=65:
  print("C")

elif marks>=66 and marks<=75:
  print("B")

elif marks>75 and marks<=85:
  print("A")


elif marks>=86:
  print("A*")

Enter marks in % : 32
Fail

Madam's code :

In [ ]:
mark = 79
if mark < 40:
    print("Fail")
else:
    if mark <= 55:
        print("D")
    elif mark <= 65:
        print("C")
    elif mark <= 75:
        print("B")
    elif mark <= 85:
        print("A")
    else:
        print("A*")

A

In [ ]:
#num > 17 && num < 21
num = 20
17 < num < 21

True

In [ ]:
#Check if a string is lexicographically between two strings or not.
#apple, string, cherry
text = "banana"
text1 = "technology"
"apple" < text < "cherry"

True

Lexographically :

In [ ]:
"apple" < text1 < "cherry"

False

In [ ]:
#String
text1 = "Check if a string is lexicographically between two strings or not."
text2 = "ghfjn6877983101993@talent"
print(text1)
print(text2)

Check if a string is lexicographically between two strings or not.
ghfjn6877983101993@talent

In [ ]:
text = 'Check if a string is "lexicographically" between two strings or not.'
print(text)

Check if a string is "lexicographically" between two strings or not.

In [ ]:
text5 = "My father's name is bikas"
print(text5)

My father's name is bikas

In [ ]:
text6 = '''Check if a string is 
"lexicographically" 
between two strings 
or not.'''
print(text6)

Check if a string is
"lexicographically"
between two strings
or not.

In [ ]:
x = "hello"
y = "Everyone!"
print(x, y)
print(x + ' ' + y)

hello Everyone!
hello Everyone!

In [ ]:
print( (x + ' ' + y + ' ') * 5)

hello Everyone! hello Everyone! hello Everyone! hello Everyone! hello Everyone!

In [ ]:
#check 'e' present in hello or not
print('e' in x)

True

In [ ]:
print(len("hello Everyone! hello Everyone! hello Everyone! hello Everyone! hello Everyone!"))

79

In [ ]:
print(len(x))

5

In [ ]:
print(10/3)

3.3333333333333335

WE SESSION 4

In [ ]:
s = "Hello World"

print(s)
print(s[1])
print(s[-2])
print(s[0:5])
print(s[:4])
print(s[::2])

Hello World
e
l
Hello
Hell
HloWrd

In [ ]:
num_list = [1,34,5,21,22,90,12]
deci_list = [2.3,4.5,80.6,99,77]

print(max(num_list))
print(min(deci_list) , max(deci_list))

90
2.3 99

In [ ]:
for item in range(1,21,5):
  print(item)

1
6
11
16

In [ ]:
complex_list = [(2+9j),(3-6j),(6),(23+1j)]

# complex_list = [(2+9j),(3-6j),(6),(23+j)]    <- Won't work as j is letter but 1j is img part

print(complex_list)
print(sum(complex_list))

[(2+9j), (3-6j), 6, (23+1j)]
(34+4j)

Multi Words Variable Names :
__________________________________________________

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

**Camel Case**
Each word, except the first, starts with a capital letter:

myVariableName = "John"

**Pascal Case**
Each word starts with a capital letter:

MyVariableName = "John"

**Snake Case**
Each word is separated by an underscore character:

my_variable_name = "John"

In [ ]:
x = range(6)
print(type(x))

<class 'range'>

**SESSION 4**

**Functions**

In [ ]:
def add2(a,b):
  return a+b

In [ ]:
add2("Hi","Rama")

'HiRama'

In [ ]:
def square(num):
  return num*num

In [ ]:
print(square(6))
print(square(9.5))
print(square(8j))

36
90.25
(-64+0j)

Function argument type mentioned

In [ ]:
def square2(num: int) -> int:
  return num * num

In [ ]:
print(square2(3))
print(square2(7.9))

9
62.410000000000004

In [ ]:
def deci(num :int)-> float:    # these specifications are only for users to follow, although we will get no error even if
                               # other datatypes are used while calling this function
  return num*num
print(deci(4))

16

In [ ]:
def deci2(num :float)-> int:
  return num*num
print(deci(9.4))

88.36000000000001

In [ ]:
text = "Today is a holiday. A girl is enjoying"

def vowel_freq(t):

  c=0
  for i in t:
    if i.lower() in ['a','e','i','o','u']:
      c+=1
  return c

print(vowel_freq(text))

13

In [ ]:
def prime_check(num):

  for i in range(2,num):
    if num%i ==0:
      return "No"
    
    else:
      continue
  return "Yes"

In [ ]:
print(prime_check(34))

No

In [4]:
# ANOTHER METHOD TO CHECK FOR PRIME :

def is_prime(num: int) -> bool:
  if num <2:
    return False
  elif num == 2:
    return True
  elif num % 2 == 0:
    return False
  r = 3
  while r*r <= num:       # TRICKY LINE

    if num% r ==0:
      return False
    r +=2                 # to skip even nos.
  return True

In [5]:
print(is_prime(78))
print(is_prime(89))

False
True